*{
    font-family: 'Montserrat', sans-serif;
}
.line img{
    width: 100%;
}
header{
    background-image: url("/static/img/fonkg/1kg.png");
    background-size: cover;
    background-position: center;
}
header .nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
header .nav li{
    padding-left: 60px;
    font-weight: 600;
}
header .nav li a{
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
    outline: none;
}
header .nav li a:hover{
    color: #00daff;
}
header .med{
    text-align: center;
}
header .links {
    display: flex;
    justify-content: center;
}
header .links span{
    padding: 0 10px;
}
header .med img{
    width: 500px;
}
header .link {
    text-align: center;
}
header .link .btn{
    margin-top: 20px;
}
header .link .btn a{
    background: #00daff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

header .link p {
    margin-bottom: 0rem;}

.first .title {
    text-align: center;
    text-transform: uppercase;
}
.first .title h1{
    font-weight: 600;
}
.first .one{
    padding-top: 60px;
}
.first .left {
    display: flex;
}
.first .left .text{
    text-align: center;
}
.first .center img{
    width: 100%;
    margin-top: -20%;
}
.first .two{
    padding-top: 60px;
}
.first .right {
    display: flex;
}
.first .right .text{
    text-align: center;
}

.second {
    background-image: url("/static/img/fonkg/2kg.png");
    background-size: cover;
    padding-bottom: 185px;
}
.second .title{
    text-align: center;
}
.second .title h1{
    font-weight: 600;
}
.second .image{
    text-align: right;
    padding-top: 100px;
}
.second .image img{
    width: 40%;
}
.third .title h1{
    font-weight: 600;
}
.fourth .row{
    display: flex;
    align-items: center;
}
.fourth .row .title{
    text-align: center;
}
.fourth .img img{
    width: 80%;
}
.fourth .right{
    display: flex;
}
.fourth .clock{
    display: flex;
}
.fourth .right .img img{
    width: 90px;
    margin-right: 40px;
}
.fourth .clock .img img{
    width: 70px;
    margin: 0 40px 0 80px;
}

.fifth {
    background-image: url("/static/img/fon/fifth.png");
    background-size: cover;
}
.fifth .row{
    display: flex;
    align-items: center;
}
.fifth .image img{
    width: 100%;
}
.fifth .learn{
    text-align: center;
    padding-top: 60px;
}
.fifth .learn h1{
    font-weight: 600;
}


.sixth .title{
    text-align: center;
}
.sixth .title h1{
    font-weight: 600;
}
.sixth .col-lg-6{
    display: flex;
    justify-content: center;
}
.sixth .cart{
    padding-top: 80px;
    width: 80%;
}
.sixth .cart .image{
    text-align: center;
}
.sixth .cart .image img{
    height: 80px;
}
.sixth .cart h4{
    padding: 30px 0;
    text-align: center;
}

.seventh{
}
.seventh .title{
    text-align: center;
}
.seventh .title h1{
    font-weight: 600;
}
.seventh .man{
    text-align: center;
}
.seventh .man p{
    margin-bottom: 0;
}
.seventh .man .image{
    text-align: center;
}
.seventh .man .image img{
    width: 80%;
}

.eight {
    /*background-image: url("./../img/fon/eight.png");*/
    background-size: cover;
    position: static;
    width: 100%;
}
.eight .faqSec{
    padding-top: 50px;
}
.eight .row{
    display: flex;
}
.eight .app{
    display: flex;
    align-items: center;
}
.eight .app .chat{
    padding-right: 40px;
}
.eight .title h1{
    text-align: center;
    font-weight: 600;
}
.eight .img img{
    /*padding-top: 100px;*/
    width: 400px;
}

footer{
    background-image: url("/static/img/fonkg/3kg.png");
    background-size: cover;
    background-position: center;
}
footer .title h1{
    text-align: center;
    font-weight: 600;
}
footer .image{
    text-align: center;
    margin-top: 250px;
}
footer .img {
    text-align: center;
    padding: 0;
}
footer .img img{
    width: 27%;
}
footer .text {
    padding: 20px 0;
}
footer .text1 {
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding-top: 370px;
}
footer .text p{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 12px;
}
footer .link {
    text-align: center;
    /*padding: 0 60px 40px 0;*/
}
footer .link a{
    color: #fff;
}

footer .link .btn a{
    background: #00daff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}


.form{
    border: solid 1px rgba(128, 128, 128, 0.44);
    border-radius: 10px;
    padding: 40px 20px;
}
.forms .row{
    display: flex;
    justify-content: center;
}
.forms .form{
    text-align: center;
}
/*.form .forms label{*/
/*    text-align: center;*/
/*}*/
.accordion{
    margin-top: 100px;
}
.mb-0 button {
    outline: none;
    background: none;
    color: black;
    text-decoration: none;
}


.eight .card-header {
    /*padding: .5rem 1rem;*/
     margin-bottom: 0;
     background-color: #fff;
     border-bottom: #fff;
}
.eight .btn li:focus {
    outline: 0;
    box-shadow: #fff;
}
.eight{
    position: relative;
}
.eight img{
    /*position: absolute;*/
}
.eight .card {
    border: none;
}
.card-body{
    font-size: 14px;
}
#faq{
    margin-bottom: 50px;
}
.eight .think{
    text-align: center;
}
.eight .button{
    padding-top: 30px;
}