@media(max-width: 920px) {
    .second .health {
        display: flex;
        align-items: center;
        padding: 20px 0 20px 10px;
    }
    .second .health .right{
        padding: 20px 10px 20px 0;
    }
    .second .row{
        display: flex;
        align-items: center;
    }
    .second .row  .right img{
        width: 70%;
    }
    .second .row  .left img{
        width: 70%;
    }
    .second .row h3{
        font-size: 16px;
    }
    .second .row p{
        font-size: 13px;
    }
    .third .top{
        padding: 0;
    }
    .third .row{
        color: white;
        padding: 30px 0;
        display: flex;
        align-items: center;
    }
    .third .left img{
        width: 100%;
    }
    .fourth .left h4{
        font-size: 14px;
    }
    .fourth .left p{
        font-size: 12px;
    }
    .fourth .title h5{
        padding: 10px 0 40px;
    }
    .fifth .sofa img{
        width: 100%;
    }
    .eighth .title h5{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .tenth .title h5{
        font-size: 40px;
    }
    footer .top .logo {
        display: none;
    }
    footer .link{
        padding: 20px 0;
    }
    footer .link p{
        margin-bottom: 25px;
    }
}
@media (max-width: 720px) {
    header .top ul {
        display: flex;
    }
    header .top .logo h1 {
        font-size: 14px;
    }
    header .top .logo p {
        font-size: 12px;
    }
    header .top li{
        font-size: 14px;
        padding: 0 7px;
    }
    header .top ul{
        display: flex;
        align-items: center;
    }
    .first .bottom {
        width: 100%;
    }
    .first .bottom p {
        padding: 20px;
    }
    .second .top h2{
        padding: 0;
    }
    .second .row .col-md-12{
        display: flex;
        justify-content: center;
    }
    .second .middle{
        display: none;
    }
    .second .row .right img {
        width: 100%;
    }
    .second .row .left img {
        width: 100%;
    }
    .third .left {
        display: none;
    }
    .third {
        background: none;
    }
    .fourth .mainRight {
        display: none;
    }
    .fourth .link{
        padding: 0;
    }
    .fifth .sofa{
        display: none;
    }
    .sixth .title {
         padding: 20px 0;
    }
    .seventh .title h5 {
        font-size: 36px;
        padding-top: 0;
    }
    .eighth .title h5 {
        padding: 0;
    }
    .eighth .img{
        display: none;
    }
    .eighth .left{
        text-align: center;
    }
    .eighth .left img{
        padding: 10px 0;
    }
    .tenth .title h5 {
        font-size: 28px;
    }
    .tenth .left {
        margin-top: 0;
    }
    .tenth .left p{
        font-size: 28px;
    }
    .tenth .title {
        padding: 50px 0 20px;
    }
    .tenth .img{
        text-align: center;
    }
    footer .link {
        padding: 30px;
    }
    footer .top .logo{
        display: none;
    }
    footer .top .links a {
        font-size: 12px;
        padding: 5px 5px;
        margin: 0 2px;
    }
    footer .text {
        width: 100%;
    }
    footer .text p{
        font-size: 14px;
    }
    footer .links1 .first {
        font-size: 14px;
        text-align: center;
    }
    footer .links1 .second {
        font-size: 14px;
        text-align: center;
    }
    footer .bottom p{
        font-size: 12px;
    }
}
@media (max-width: 520px) {
    header .top .logo{
        padding: 10px 0 0 10px;
        display: inline-block;
    }
    header .top {
        display: flex;
        align-items: normal;
    }
    header .top .links{
        padding-top: 40px;
    }
    header .top ul{
        display: flex;
        align-items: normal;
    }
    .fifth .title h4 {
        font-size: 40px;
    }
    footer .top .links {
        display: grid;
    }
    footer .top .links a{
        padding: 3px 0;
    }
}

@media(max-width: 355px) {
    header .top{
        padding-top: 10px;
    }
    header .top ul {
        display: grid;
    }
    header .top .links{
        padding-top: 15px;
    }
    header .top li {
        font-size: 14px;
        padding: 10px 0;
    }
    header .bottom p {
        font-size: 14px;
    }
    header .bot img {
        width: 200px;
    }
    .first .top p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .first .top a {
        padding-bottom: 10px;
        font-size: 12px;
    }
    .first .top button {
        padding: 5px 20px;
        font-size: 12px;
    }
    .first .bottom p {
        font-size: 12px;
    }
    .first::after {
        display: inline;
    }
    .second .health{
        padding: 0;
    }
    .second .row p {
        font-size: 11px;
    }
    .second .health .left{
        display: none;
    }
    .third .row {
         padding: 0;
    }
    .third .link {
         padding: 0;
    }
    .third .link p {
        font-size: 12px;
         padding-bottom: 15px;
    }
    .third::after {
        display: none;
    }
    .third .link .elly {
        padding: 5px 20px;
        font-size: 12px;
    }
    .fourth .title h5{
        padding: 0;
    }
    .fourth .left .top {
        width: 100%;
    }
    .fourth .bottom {
        display: grid;
    }
    .fourth .bottom .left {
        width: 100%;
        padding: 28px;
    }
    .fourth .bottom p{
        margin-bottom: 0;
    }
    .fourth .bottom .right {
        width: 100%;
        padding: 28px;
        margin-top: 10px;
        background-size: 100% 100%;
    }
    .fourth .bottom p{
        margin-bottom: 0;
    }
    .fourth .link p {
        font-size: 12px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .fourth .link .elly{
        padding: 5px 20px;
        font-size: 12px;
    }
    .fourth {
        padding: 20px 0;
    }
    .fifth .title h4 {
        font-size: 32px;
    }
    .fifth p{
        font-size: 12px;
    }
    .sixth .title h5 {
        font-size: 32px;
    }
    .sixth .card {
        width: 100%;
        padding: 10px;
        margin: 0 auto 20px;
    }
    .sixth .card h5 {
        padding: 5px 0;
    }
    .sixth .card p{
        font-size: 12px;
    }
    .sixth::after{
        display: none;
    }
    .eighth .left p{
        margin-bottom: 0;
    }
    .tenth .title h5 {
        font-size: 30px;
    }
    .tenth .left p {
        font-size: 12px;
        margin-bottom: 0;
    }
    .tenth .img img{
        width: 100%;
    }
    .tenth .img img {
        background-size: 100%;
    }
    footer .link p{
        font-size: 12px;
        margin-bottom: 0;
    }
    footer .link .elly{
        padding: 5px 20px;
        font-size: 12px;
    }
    footer .top {
        display: grid;
        justify-content: center;
        padding: 0;
    }
    footer .top .links{
        text-align: center;
    }
    footer .top .links a {
        padding: 5px 20px;
    }
    footer .top .links .left {
        margin-bottom: 10px;
    }
    footer .question p{
        margin-top: 0;
        text-align: center;
    }
    footer .text p {
        font-size: 12px;
    }
    footer .middle .links1 a {
        color: white;
        padding: 0;
    }
    footer .bottom p {
        font-size: 10px;
    }
}